validator/schemas/details/height.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="detail_height" mixed="true">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="value" type="xs:decimal"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="height" type="detail_height"/>
</xs:schema>
