validator/schemas/details/link.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="link">
    <xs:sequence>
      <xs:element name="point" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="point" type="xs:string"/>
    <xs:attribute name="parent_callsign" type="xs:NCName"/>
    <xs:attribute name="production_time" type="xs:dateTime"/>
    <xs:attribute name="relation" type="xs:NCName"/>
    <xs:attribute name="type" type="xs:NCName"/>
    <xs:attribute name="uid" type="xs:NMTOKEN"/>
    <xs:attribute name="callsign" type="xs:NCName"/>
    <xs:attribute name="remarks" type="xs:NCName"/>
  </xs:complexType>
  <xs:element name="link" type="link"/>
</xs:schema>
