validator/schemas/details/routeinfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="routeinfoType">
    <xs:sequence>
      <xs:element name="__navcues" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="__routeinfo" type="routeinfoType"/>
</xs:schema>
